    :root {
  --bg: #1e1e1e;
  --text: #e9edef;
  --sidebar: #202123;
  --card: #2a2b32;
  --accent: #61dafb;
}
.light {
  --bg: #ffffff;
  --text: #111;
  --sidebar: #f4f4f4;
  --card: #eaeaea;
  --accent: #007acc;
}
* { margin:0; padding:0; box-sizing:border-box; font-family:system-ui; transition:0.3s; }
body { display:flex; height:100vh; background:var(--bg); color:var(--text); overflow:hidden; }
.sidebar { width:260px; background:var(--sidebar); padding:20px; overflow:auto; flex-shrink:0; transform:translateX(0); transition:transform 0.5s cubic-bezier(.25,.8,.25,1); }
.sidebar-header { font-size:20px; font-weight:bold; display:flex; align-items:center; gap:10px; margin-bottom:20px; }
.chat-item { padding:10px; border-radius:8px; margin-bottom:6px; cursor:pointer; display:flex; align-items:center; gap:10px; transition:0.3s; }
.chat-item:hover { background:var(--card); transform:translateX(5px); }
.lang-icon { width:22px; }
.main { flex:1; display:flex; flex-direction:column; overflow:hidden; }
.header { padding:15px; border-bottom:1px solid #555; display:flex; justify-content:space-between; align-items:center; flex-shrink:0; }
.content { padding:20px; overflow:auto; scroll-behavior:smooth; flex:1; }
.section { margin-bottom:40px; opacity:0; transform:translateY(20px); transition:0.5s ease; }
.section.show { opacity:1; transform:translateY(0); }
.section h2 { margin-bottom:10px; }
.section p { margin-bottom:15px; line-height:1.6; }
pre { margin:15px 0; border-radius:8px; overflow-x:auto; max-width:100%; position:relative; }
.copy-btn { position:absolute; top:5px; right:5px; padding:5px 8px; background:var(--accent); border:none; border-radius:5px; cursor:pointer; color:#fff; font-size:14px; opacity:0.8; transition:0.2s; }
.copy-btn:hover { opacity:1; }
.theme-btn, .menu-btn, .lang-switch { cursor:pointer; font-size:20px; border:none; background:none; color:inherit; margin-left:10px; }
.search-bar { width:100%; padding:8px 12px; margin-bottom:15px; border-radius:8px; border:none; background:var(--card); color:var(--text); outline:none; }
@media(max-width:700px){
  .sidebar { width:70%; position:absolute; z-index:20; height:100%; transform:translateX(-100%); box-shadow:2px 0 8px rgba(0,0,0,0.4); }
  .sidebar.show { transform:translateX(0); }
  .menu-btn {
  display:block;
  position:fixed;
  left:10px;
  top:12px;
}
  .main { flex:1; overflow:hidden; }
  .content { padding:15px; }
}
.floating-menu{
  position:fixed;
  bottom:20px;
  left:20px;
  width:60px;
  height:60px;
  border-radius:50%;
  border:none;
  background:var(--accent);
  color:white;
  font-size:26px;
  cursor:pointer;
  z-index:100;
  box-shadow:0 6px 20px rgba(0,0,0,0.4);
  display:none;
}

.floating-menu:hover{
  transform:scale(1.1);
}

/* показываем только на телефоне */
@media(max-width:700px){
  .floating-menu{
    display:block;
  }
}
